.app {
  background: #1c1c1c
}
.header {
  width: 100%;
  max-height: 50px;
  line-height: 50px;
  background: #000000
}
.header h1{
  font-family: 'Bebas', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  text-align: center;
  color: #ED1B2A;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.card {
  float: left;
  width: 210px;
  height: 320px;
  overflow: hidden;
  margin: 30px 35px;
  transition: all .2s ease-in-out;
  cursor: pointer;
  background: #fff;
}
.card img {
  width: 100%;
}
.card__wrapper {
  padding: 10px;
}

.card__heroName {
  font-family: 'Bebas';
  font-size: 14px;
  padding: 5px 0px;
  line-height: 1.4;
}

.card__modified {
  color: #fff;
  background: #ED1B2A;
  font-family: 'Acre', Arial, Helvetica, sans-serif;
  font-size: 10px;
  width: 50px;
  padding: 2px;
}

.card__content {
  color: #000000;
}

.card:hover { 
  transform: scale(1.2);
}